 <%
    def link_to(name, url)
        return "<a href='#{url}'>#{name}</a>"
     end
    %>
<html>
  <body>   
    <p>
      <%= link_to('Me', 'me.html') %>
      <%= link_to('Home', 'index.html') %>
      <%= link_to('View', 'view.html') %>

    </p>
    <hr />
    <div>
      <%= yield %>
    </div>
    <hr />
    <div>
       <%= link_to('This is a link to google', 'http://google.com') %>
    </div>
  </body>
</html>